{
  "Id": "EtleapAccess",
  "Version": "2012-10-17",
  "Statement":[{
    "Sid": "EtleapAccess",
    "Effect":"Allow",
    "Principal": {
      "AWS": "arn:aws:iam::${account}:root"
    },
    "Action":[
      "s3:GetObject",
      "s3:ListBucket"
    ],
    "Resource": [
      "arn:aws:s3:::${bucket}",
      "arn:aws:s3:::${bucket}/*"
    ]
  }]
}
